@charset "UTF-8";

@font-face {
  font-family: 'Oh Chewy';
  src: url('../Font/Oh\ Chewy.ttf') format('opentype');
  font-weight: normal;
}

:root {
  --cor1: #FED700; /*PARA FUNDOS OU DESTAQUES*/
  --cor2: #FDC500;
  --cor3: #D7930C;
  --cor4: #674E26;
  --cor5: #1A1007;
  --cor6: #F4C430; /*PARA FUNDOS OU DESTAQUES*/
  --cor7: #000000; /*PARA TEXTO E MENU*/
  --COR8: #F0F0F0; /*PARA SUAVISAR O CONTRASTE*/
  --cor9: #602800;


  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-bee: 'oh chewy', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Adicionei para garantir que margens e padding sejam incluídos no tamanho total dos elementos */
}

body{
  font-family: var(--fonte-padrao);
  background-color: var(--COR8);
  background-size: cover;
  background-position: center;
  font-family: var(--fonte-padrao);
  margin: 0;
  padding-top: 80px; /*Espaço para o cabeçalho fixo*/;
  min-height: 100vh; /* 
  Garante que o corpo ocupe pelo menos a altura total dajanela */
  display: flex;
  flex-direction: column;

}

header {
  background-image: linear-gradient(to bottom, var(--cor1), var(--cor2) ,var(--cor3));
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 10px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.421);
  position: fixed; /* Torna o cabeçalho fixo na parte superior */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

.menu-sanduiche {
 position: absolute;
 right: 10px;
 bottom: 10px;
}

#menu-btn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

nav ul {
   display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os itens */
}

nav ul li {
  display: inline-block;
  margin: 15px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

header nav, .area-pesquisa {
  width: 100%; /* A largura será sempre do tamanho total */
}

header > a {
  font-size: 1.1em;
  background-color: var(--cor5);
  color: white;
  margin: 40px 3px 3px;
  padding: 5px;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.296);
}

.logo {
  position: absolute;
  left: 20px; /* Ajuste conforme o design */
  top: 10px;
  display: inline-flex;
  align-items: center;
}

.logo img {
  margin-right: 9px; /* Ajuste o valor para aproximar ou afastar o texto da imagem */
  width: 90px; /* Ajuste conforme o tamanho da imagem desejada */
  height: auto; /* Mantém a proporção da imagem */
  filter:drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.729));
}

.logo a {
  font-family: var(--fonte-bee);/* Exemplo de fonte para o texto */
  font-size: 40px; /* Tamanho do texto */
  color:var(--cor7); /* Cor do texto */
  display: flex; /* Coloca o texto e a imagem na mesma linha */
  align-items: center; /* Centraliza verticalmente o texto em relação à imagem */
  text-decoration: none; /* Remove o sublinhado do link */
}

.logo a:hover {
  text-decoration: none; /* Adiciona sublinhado ao passar o mouse, se desejar */
}


.area-pesquisa {
  margin: 15px 15px 0 15px;
  text-align: center;
}

#pesquisa {
  width: 300px; /* Defina o tamanho da barra de pesquisa */
  padding: 5px;
  font-size: 16px;
}

#btn-pesquisa {
  position: absolute;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.807);
  margin-left: 3px;
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.carousel {
  margin-top: 100px; /* Espaço abaixo do cabeçalho */
  width: 100%;
  height: 300px; /* Ajuste a altura do banner conforme necessário */
  background-color: #F0F0F0; /* Cor de fundo do banner ou use uma imagem */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o banner */
}

/* carousel */
.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: 28px;
  position: relative;
}

.carousel .list .item {
  position: absolute;
  inset: 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: var(--cor4);
  text-shadow: 0 5px 10px #0004;

}
.carousel .list .item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic{
  font-weight: bold;
  font-size: 5em;
  line-height: 1.3em;
}
.carousel .list .item .content .topic {
  color: var(--cor2);
}
.carousel .list .item .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel .list .item .content button {
  border: none;
  background-color: var(--cor4);
  color: white;
  letter-spacing: 3px;
  font-family: 'Poppins';
  font-weight: 500;
}

.carousel .list .item .content button:nth-child(2){
  background-color: transparent;
  color: #eee;
  border: 1px solid var(--cor4);
}

/* miniatura */
.thumbnail {
  position: absolute;
  bottom: 50px;
  right: -12%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  position: absolute;
  bottom:10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title{
  font-weight: bold;
  color: var(--COR8);
}

.des {
  color: var(--COR8);
}

/* setas */
.arrows {
  position: absolute;
  top: 80%;
  right: 60%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cor4);
  border: none;
  font-family: monospace;
  color: var(--cor6);
  font-weight: bold;
  font-size: large;
  transition: .5s;
  z-index: 100;
}

.arrows button:hover {
  background-color:var(--cor5);
  color: var(--cor1);
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
  animation: showContent 0.5s 1s linear 1 forwards;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
/* animação para exibir o conteúdo */
@keyframes showContent {
  to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);  
  }
}

.carousel .list .item:nth-child(1) .title{
  animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .topic{
  animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .des{
  animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .buttons{
  animation-delay: 1.8s;
}

/* efeito proximo clique*/
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

/* animação para exibir a imagem */

@keyframes showImage { 
  to{
      width:100%;
      height: 100%;
      left: 0;
      bottom: 0;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

/* animação para miniatura */
@keyframes showThumbnail {
  to{
      width: 150px;
  }
}

.carousel.next .thumbnail {
  transform: translateX(150px);
  animation: transformThumbnail 0.5s linear 1 forwards;
}

/* animação para a transformação de miniatura */
@keyframes transformThumbnail {
  to{
      transform: translateX(0);
  }
}
/* efeito click anterio */
.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage {
  to{
      width: 150px;
      height: 220px;
      border-radius: 20px;
      left: 50%;
      bottom: 50px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons{
  animation: contentOut 1.5s linear 1 forwards;
}

/* Animação para saida do conteúdo */
@keyframes contentOut {
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

/* time */
.time {
  width: 100%;
  height: 3px;
  background-color:var(--cor4);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
} 

.carousel.next .time,
.carousel.prev .time {
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}
/* Animaão do tempo */
@keyframes timeRunning {
  to{
      width: 0;
  }
}

/*Resposividade*/

@media screen and (max-width: 678px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .content .title{
      font-size: 30px;
  }
}

@media (max-width: 768px) {
  body {
      font-size: 10px;
  }

  .carousel .list .item .content {
      top: 10%;
      padding-right: 20%
  }

  .carousel .list .item .content .author {
      font-size: 0.8em;
  }

  .carousel .list .item .content .title,
  .carousel .list .item .content .topic {
      font-size: 4em;
  }

  .thumbnail .item {
      width: 100px;
      height: 150px;
  }

  .arrows {
      top: 85%;
      right: 55%;
  }

}

/* Estilize o carrossel conforme necessário */
/* Estilos dos hexágonos */
.honeycomb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.honeycomb div {
  width: 120px;
  height: 69.28px;
  background-color: #F4C430;
  margin: 34.64px 10px;
  position: relative;
  transform: rotate(30deg);
}

.honeycomb div::before, .honeycomb div::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

.honeycomb div::before {
  bottom: 100%;
  border-bottom: 34.64px solid #F4C430;
}

.honeycomb div::after {
  top: 100%;
  width: 0;
  border-top: 34.64px solid #F4C430;
}

.honeycomb div:hover {
  background-color: #FFD700; /* Efeito de hover */
}

footer {
  clear: both;
  background-color: var(--cor7);
  color: white;
  text-align: center;
  padding: 6px;
  font-weight: bold;
  margin-top: auto; /* Garante que o rodapé fique na parte inferior da página */
}
  
/* Footer */
footer {
  background-color: #000;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9em;
}
  