@charset "UTF-8";

@font-face {
  font-family: 'Oh Chewy';
  src: url('../Font/Oh\ Chewy.ttf') format('opentype');
  font-weight:normal;
}

:root {
  --cor1: #FED700;
  --cor2: #FDC500;
  --cor3: #D7930C;
  --cor4: #674E26;
  --cor5: #1A1007;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-bee: 'oh chewy', cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

body{
   background-image: url(../image/image2.jpg);
   background-size: cover;
   background-position: center;

}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3));
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: center;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.421);
}

.logo a {
  display: flex; /* Coloca o texto e a imagem na mesma linha */
  align-items: center; /* Centraliza verticalmente o texto em relação à imagem */
  text-decoration: none; /* Remove o sublinhado do link */
}

.logo img {
  margin-right: 5px; /* Ajuste o valor para aproximar ou afastar o texto da imagem */
  width: 70px; /* Ajuste conforme o tamanho da imagem desejada */
  height: auto; /* Mantém a proporção da imagem */
  filter:drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.729));
}

.logo a:hover {
  text-decoration: none; /* Adiciona sublinhado ao passar o mouse, se desejar */
}

.logo a {
  font-family: var(--fonte-bee);/* Exemplo de fonte para o texto */
  font-size: 40px; /* Tamanho do texto */
  color:var(--cor4); /* Cor do texto */
}

header > a {
    font-size: 1.1em;
    background-color: var(--cor5);
    color: white;
    margin: 40px 3px 3px;
    padding: 5px;
    border-radius: 7px;
    text-decoration: none;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.296);
}

#honeycomb {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza as linhas no container */
    padding: 20px;
    background-size: cover;
    background-position: center;
  }
  
  .hex-row {
    display: flex;
  }
  
  .hex-row.offset {
    margin-left: 50px; /* Desloca a linha para a direita para criar o efeito de colméia */
  }
  
  .hexagon {
    width: 100px;
    height: 100px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border: 5px solid #FFCC00;
    margin: 1px; /* Espaço entre os hexágonos */
    position: relative;
    background-size: cover; /* Para cobrir o hexágono com imagem */
    background-position: center;
  }

  .hexagon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 6px rbga(0, 0, 0, 0.3);
  }
  
  

  